@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #f5f6fa;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.fc-theme-standard .fc-scrollgrid {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-family: 'LINESeedKR-Bd';
}

.fc-header-toolbar {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 10px;
}

.fc .fc-toolbar-title {
  position: absolute;
  margin: auto;
  color: #0815a6;
  max-width: 30%;
  left: 40%;
  top: 20px;
  font-family: 'LINESeedKR-Bd';
}

.fc-event-title fc-sticky {
  padding: 2px;
}

.fc .fc-button-primary {
  border: none;
  background-color: #1c3879;
  position: relative;
  top: 15px;
  margin-right: 18px;
}

.fc .fc-button-group {
  position: absolute;
  border: 0;
  outline: 0;
  width: 5rem;
  left: 10%;
}

.fc .fc-daygrid-day-number {
  position: relative;
  right: 20px;
  font-size: 17px;
  font-weight: bold;
  color: #0815a6;
  margin-right: 15px;
}

.fc-daygrid-event-dot {
  border: none;
}

.fc-daygrid-dot-event .fc-event-title {
  background-color: #7752fe;
  position: relative;
  left: -7px;
  border-radius: 3px;
  color: white;
  padding-left: 5px;
}

.fc-col-header-cell-cushion {
  color: #0815a6;
  width: 90%;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

table .fc-scrollgrid-sync-table {
  width: 1213px;
  height: 864px;
}

.fc-theme-standard th,
.fc-theme-standard td {
  border: 0px;
}

.fc .fc-daygrid-day-top {
  position: relative;
  right: 60px;
}

.fc-daygrid-day-bottom {
  margin-top: 63px;
}

.fc-event-time {
  display: none;
}

.fc-daygrid-day-events {
  margin-top: 22px;
}

.fc-h-event .fc-event-main-frame {
  background-color: #190482;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
}

.fc-h-event {
  background-color: white;
  border: none;
}

/* .fc-event
  .fc-event-start
  .fc-event-end
  .fc-event-past
  .fc-daygrid-event
  .fc-daygrid-dot-event {
  margin-top: 10px;
} */

/* .fc-event
  .fc-event-start
  .fc-event-end
  .fc-event-past
  .fc-daygrid-event
  .fc-daygrid-dot-event {
  position: relative;
  display: inline;
} */
